@import "@fontsource-variable/plus-jakarta-sans";

@import "tailwindcss";

/* --color----- dark mode with class --color----- */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* --color----- dark mode with data- attribute --color------ */

/* but we are not using data-theme like here
which people do in most of the cases */
/* @custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */
/* we are using data-mode instead */
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

/* --color---------------------------------------------------- */

@theme {
  /* fonts */
  /* we don't want to add it */
  /* --font-jakarta: "Plus Jakarta Sans Variable", sans-serif; */
  /* we just want t o replace sans font we have */
  --font-sans: "Plus Jakarta Sans Variable", sans-serif;

  /* since I don't want default tailwind colors to be used */
  --color-*: initial; /* Removes all default colors */
  /*  */

  /* color */
  --color-black: #010209;
  --color-transparent: #01020900;
  --color-white: #ffffff;
  --color-accent-100: #ffecd5;
  --color-accent-200: #fed6aa;
  --color-accent-300: #feb873;
  --color-accent-400: #fc903b;
  --color-accent-50: #fff7ed;
  --color-accent-500: #fa7015;
  --color-accent-600: #eb550b;
  --color-accent-700: #c33f0b;
  --color-accent-800: #9b3211;
  --color-accent-900: #7c2c12;
  --color-accent-950: #431307;
  --color-danger-100: #fee2e5;
  --color-danger-200: #fdcbd0;
  --color-danger-300: #fba6ae;
  --color-danger-400: #f67380;
  --color-danger-50: #fef2f3;
  --color-danger-500: #ed4656;
  --color-danger-600: #d12435;
  --color-danger-700: #b71e2d;
  --color-danger-800: #981c28;
  --color-danger-900: #7e1e27;
  --color-danger-950: #440b11;
  --color-information-100: #e6eef8;
  --color-information-200: #c7dbf0;
  --color-information-300: #95bce4;
  --color-information-400: #5d99d3;
  --color-information-50: #f3f6fc;
  --color-information-500: #387cbf;
  --color-information-600: #2c6cb2;
  --color-information-700: #214e83;
  --color-information-800: #1f446d;
  --color-information-900: #1f3a5b;
  --color-information-950: #14263d;
  --color-primary-100: #f2ecfb;
  --color-primary-200: #e7ddf7;
  --color-primary-300: #d5c2f0;
  --color-primary-400: #bc9be5;
  --color-primary-50: #faf7fd;
  --color-primary-500: #9967d5;
  --color-primary-600: #8a55c8;
  --color-primary-700: #7642ae;
  --color-primary-800: #643a8f;
  --color-primary-900: #523073;
  --color-primary-950: #361952;
  --color-secondary-100: #ccfbf0;
  --color-secondary-200: #99f6e2;
  --color-secondary-300: #5debd1;
  --color-secondary-400: #29ccb4;
  --color-secondary-50: #f0fdfa;
  --color-secondary-500: #13b9a3;
  --color-secondary-600: #0c9585;
  --color-secondary-700: #0f766c;
  --color-secondary-800: #115e57;
  --color-secondary-900: #134e49;
  --color-secondary-950: #042f2d;
  --color-slate-100: #eceef2;
  --color-slate-200: #d5d9e2;
  --color-slate-300: #b1bbc8;
  --color-slate-400: #8695aa;
  --color-slate-50: #f6f7f9;
  --color-slate-500: #64748b;
  --color-slate-600: #526077;
  --color-slate-700: #434e61;
  --color-slate-800: #3a4252;
  --color-slate-900: #343a46;
  --color-slate-950: #23272e;
  --color-success-100: #defae4;
  --color-success-200: #bff3ca;
  --color-success-300: #8de8a1;
  --color-success-400: #54d471;
  --color-success-50: #f1fcf2;
  --color-success-500: #2cb84c;
  --color-success-600: #1f9a3b;
  --color-success-700: #1c7932;
  --color-success-800: #1b602b;
  --color-success-900: #184f26;
  --color-success-950: #082b11;
  --color-warning-100: #fffbc1;
  --color-warning-200: #fff286;
  --color-warning-300: #ffe341;
  --color-warning-400: #ffcf0d;
  --color-warning-50: #fffde7;
  --color-warning-500: #ecb100;
  --color-warning-600: #d18b00;
  --color-warning-700: #a66202;
  --color-warning-800: #894c0a;
  --color-warning-900: #743e0f;
  --color-warning-950: #442004;
}

/* --color----------------------------------------------------- */

body {
  /* @apply bg-white text-black; */
  @apply dark:bg-slate-950 dark:text-white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
} */
